{
  "branches": [
    "bastion",
    {
      "name": "pre",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": ":sparkles: Features"
            },
            {
              "type": "fix",
              "section": ":bug: Bug Fixes"
            },
            {
              "type": "refactor",
              "section": ":recycle: Refactor",
              "hidden": false
            },
            {
              "type": "perf",
              "section": ":zap: Performance",
              "hidden": false
            },
            {
              "type": "chore",
              "hidden": true
            }
          ]
        },
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ]
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "out/*.vsix"
          }
        ]
      }
    ]
  ]
}